@import url("../base.css");

/* @group BASICS */

html,body { font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #555; background-color: #fff; margin: 30px auto; padding: 0; width: 95%; }

a,a:link,a:active,a:visited { color: #222; text-decoration: none; }

a:hover { color: #0060bc; }

/* @end */

/* @group DEFAULT STYLE */

h1 {
	font-size: 2.7em;
	margin-bottom: 20px;
	font-weight: bold;
}

h2 {
	font-size: 1.4em;
	border-bottom: 4px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 4px;
}

h3 {
	font-size: 1.7em;
}

p {
	margin-bottom: 15px;
}

/* @end */