@import url("../screen.css");
@import url("../../js/plugins/facebox/facebox.css");
@import url("../../js/plugins/datepicker/css/datepicker.css");

/* @group BASICS */

body {
	background-color: #eee;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.center {
	width: 980px;
	margin: 0 auto;
}

.hr {
	margin-bottom: 20px;
	height: 1px;
	width: 100%;
	overflow: hidden;
	background-color: #eee;
}

.hr hr {
	display: none;
}

/* @end */


/* @group HEADER */

#header {
	background-color: #000;
	height: 60px;
	overflow: hidden;
}

#header h1 {
	position: absolute;
}

#header h1 a {
	color: #fff !important;
	text-decoration: none !important;
	margin: 30px 0 0 20px;
	display: block;
	font: 3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#header .navigation {
	float: right;
	color: #fff;
	font-size: 1.2em;
	margin-top: 10px;
}

#header .navigation .meta {
	float: left;
	margin-top: 8px;
}

#header .navigation ul {
	margin-left: 20px;
	float: right;
}

#header .navigation li, #header .navigation li a {
	float: left;
}

#header .navigation li a {
	color: #fff !important;
	text-decoration: none !important;
}

#header .navigation .meta a:hover {
	text-decoration: underline !important;
}

#header .navigation .logout {
	float: right;
	margin-left: 20px;
}

#header .navigation .logout a {
	display: block;
	float: right;
	background-color: #222;
	color: #fff !important;
	text-decoration: none !important;
	padding: 10px;
	text-transform: uppercase;
	font-size: .8em;
}

#header .navigation .logout a:hover {
	background-color: #333 !important;
}

/* @end */

/* @group NAVIGATION */

#navigation {
	background-color: #000;
	font-size: 1.2em;
}

#navigation ul li, #navigation ul li a {
	float: left;
	display: block;
}

#navigation ul.float_left li {
	margin-right: 5px;
}

#navigation ul.float_right li {
	margin-left: 5px;
}

#navigation ul li a {
	background-color: #222;
	padding: 12px 18px;
	text-decoration: none !important;
	color: #fff !important;
}

#navigation ul li a:hover {
	background-color: #333 !important;
}

#navigation ul li.active a {
	background-color: #fff !important;
	color: #000 !important;
}

/* @end */

/* @group SUB_NAVIGATION */

#sub_navigation {
	background: #fdfdfd url(../../files/light_gradient.png) repeat-x right bottom;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border: 1px solid #ccc;
	margin-top: -10px;
	margin: -10px 0 20px 0;
	padding: 0 10px;
	font-weight: bold;
}

#sub_navigation ul li a {
	color: #888 !important;
	text-decoration: none !important;
	display: block;
	float: left;
	padding: 14px 20px;
	font-size: 1.2em;
	text-shadow: #fff 2px 2px 0;
}

#sub_navigation ul li a.on {
	text-decoration: underline !important;
}


#sub_navigation ul li a.on:link, #sub_navigation ul li a.on:visited, #sub_navigation ul li a:hover {
	color: #000 !important;
}

#sub_navigation ul li {
	float: left;
}

/* @end */

/* @group CONTENT BASICS */

#content_container {
	background-color: #fff;
	padding: 30px 40px;
	width: 900px;
	margin: 0 auto;
}

#content_container a:link, #content_container a:active, #content_container a:visited {
	color: #222;
	text-decoration: none;
}

#content_container a:hover {
	color: #333;
	text-decoration: underline;
}

#left_column {
	width: 630px;
	float: left;
}

#right_column {
	width: 234px;
	float: right;
}

#full_column {
}

#content_container h3.title {
	background-color: #000;
	color: #fff;
	padding: 18px 20px;
	font-size: 1.5em;
}

#content_container .sub_menu {
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	font-size: 1.1em;
	height: 30px;
	overflow: hidden;
}

#content_container .sub_menu ul {
	padding-top: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

#content_container .sub_menu ul li.add_button {
	background: #fdfdfd url(../../files/light_gradient.png) repeat-x right bottom;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border: 2px solid #ccc;
	margin-top: -10px;
}

#content_container .sub_menu ul li.add_button a {
	color: #000 !important;
	text-decoration: none !important;
	text-shadow: #fff 2px 2px 0;
	display: block;
	padding: 8px 15px 8px 32px;
	background: url(../../files/add_small.png) no-repeat 8px center;
}

#content_container .sub_menu ul li.add_button a:hover {
	color: #555 !important;
}

#content_container .sub_menu_extension {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	color: #000;
	padding: 14px 20px;
	font-size: 1.2em;
}

.notice_errors, .notice_warnings, .notice_success {
	background-color: #FEEFB3;
	color: #9F6000;
	padding: 14px 20px;
	font-weight: bold;
	font-size: 1.2em;
}

.notice_errors {
	color: #D8000C;
	background-color: #FFBABA;
}

.notice_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.notice_errors p, .notice_warnings p, .notice_success p {
	line-height: 1.2;
}

/* @end */

/* @group GENERIC FORMAT */

.generic_format {
	margin: 20px;
	font-size: 1.1em;
	line-height: 1.5em;
}

#right_column .generic_format {
	margin: 10px;
}

.generic_format h3 {
	font-size: 1.8em;
}

.generic_format h3.meta {
	font-size: 1em;
	color: #777;
	margin-bottom: 10px;
}

.generic_format p {
	margin-bottom: 20px;
}

/* @end */

/* @group FULL FORMAT */

.full_format {
	margin: 20px 0;
	font-size: 1.1em;
	line-height: 1.5em;
}

.full_format h3 {
	font-size: 1.8em;
}

.full_format h3.meta {
	font-size: 1em;
	color: #777;
	margin-bottom: 10px;
}

.full_format p {
	margin-bottom: 20px;
}

/* @end */

/* @group FORMS */

textarea.full {
	width: 95%;
	padding: 10px;
	height: 300px;
}

.submenu_form input {
	border: 1px solid #ccc;
	padding: 8px 10px;
	margin-right: 10px;
}

.submenu_form input.submit, .manage_form input.submit {
	background-color: #000;
	border: 0;
	padding: 8px 10px;
	color: #fff;
	text-transform: uppercase;
}

.submenu_form input.submit:hover, .manage_form input.submit:hover {
	background-color: #222;
}

.manage_form {
	font-size: 1.2em;
}

.manage_form .input_row {
	margin-bottom: 20px;
	clear: both;
}

.manage_form label {
	width: 150px;
	padding-top: 5px;
	float: left;
}

.manage_form .input_field {
	width: 700px;
	float: right;
}

.manage_form .input_default {
	border: 1px solid #ccc;
	padding: 6px 8px;
	width: 500px;
}

.manage_form textarea {
	border: 1px solid #ccc;
	padding: 6px 8px;
	width: 650px;
	height: 200px;
}

.manage_form select {
	font-size: 1.2em;
}

.manage_form input.submit {
	padding: 10px 14px;
	margin-left: 10px;
}

/* @end */

/* @group TABLES */

.default_table {
	width: 100%;
	font-size: 1.2em;
}

.default_table th {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	padding: 14px 20px;
	font-weight: bold;
	color: #666;
}
.default_table td {
	padding: 14px 20px;
	border-bottom: 1px solid #eee;
}

.default_table .entry_actions {
	background-color: #fff;
	margin: -19px 0 0 -65px;
	padding: 10px;
	position: absolute;
	-moz-border-radius-bottomleft:18px;
	-webkit-border-bottom-left-radius:18px;
	-moz-border-radius-topleft:18px;
	-webkit-border-top-left-radius:18px;
	display: none;
}

.default_table .entry_actions .delete {
	background: url(../../files/delete.png) no-repeat;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -99999px;
	display: block;
	margin-right: 10px;
	float: left;
}

.default_table .entry_actions .edit {
	padding-top: 3px;
	display: block;
	float: left;
	font-weight: bold;
}

.default_table .entry_actions_wrapper {
	padding: 0 !important;
}

/* @end */

/* @group PAGINATION */

.pagination {
	margin: 20px 0;
	text-align: right;
}

#content_container .pagination a {
	background-color: #000 !important;
	color: #fff !important;
	padding: 10px 15px;
	font-size: 1.2em;
}

#content_container .pagination a:hover {
	background-color: #222 !important;
	text-decoration: none !important;
}

/* @end */

/* @group MODALS */

.default_modal {
	text-align: center;
	padding: 30px 40px;
	font-size: 1.2em;
}

.default_modal p {
	font-weight: bold;
	margin-bottom: 30px;
}

.default_modal a {
	background-color: #222 !important;
	color: #fff !important;
	padding: 10px 18px;
	margin-right: 15px;
	font-size: 1.2em;
	text-decoration: none !important;
}

.default_modal a.no {
	margin: 0 !important;
}

/* @end */


/* @group Forms */

p.file_tip {
	line-height: 1;
	padding: 4px 0;
	font-size: 10px;
}

p.file_tip a {
	text-decoration: underline !important;
}

p.file_tip a:link, p.file_tip a:visited {
	font-weight: bold !important;
}

p.file_tip a:hover {
	text-decoration: none !important;
}

.cropper_img_wrapper {
	margin-bottom: 10px;
}
/* @end */