@import url("../screen_reset.css");

/* @group BASICS */

body {
	background-color: #ccc;
	color: #222;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.submit {
	background-color: #222;
	color: #fff;
	border: 0;
	text-transform: uppercase;
	padding: 8px 12px;
	cursor: pointer;
}

h1.info, h1.success, h1.warning, h1.error, h1.validation, h2.info, h2.success, h2.warning, h2.error, h2.validation, h3.info, h3.success, h3.warning, h3.error, h3.validation {
    border: 0;
    margin: 0;
}

h1.info, h2.info, h3.info {
  background-color: #00529B !important;
}

h1.success, h2.success, h3.success {
  background-color: #4F8A10 !important;
}

h1.warning, h2.warning, h3.warning {
  background-color: #9F6000 !important;
}

/* @end */

/* @group HEADER */

#header {
	background-color: #222;
	color: #fff;
	padding: 10px 0;
}

#header .inner {
	width: 980px;
	margin: 0 auto;
}

#header h1 {
	font: 2.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
	padding: 5px 0;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	color: #ccc;
}

#header #accounts {
	float: right;
	margin: 15px 0 0;
}

#header .submit {
	background-color: #333;
	margin-left: 10px;
}

#header .submit:hover {
	background-color: #555;
	color: #fff;
}

/* @end */

/* @group NAVIGATION */

#navigation {
	background-color: #333;
	font-size: 1.2em;
}

#navigation .inner {
	width: 980px;
	margin: 0 auto;
}

#navigation ul {
	border-left: 1px dotted #444;
}

#navigation li,#navigation li a {
	float: left;
}

#navigation li a {
	padding: 14px;
	color: #fff;
	text-decoration: none;
	border-right: 1px dotted #444;
}

#navigation li a:hover {
	background-color: #555;
}

/* @end */

/* @group CONTENT */

#content_container {
	width: 980px;
	margin: 20px auto;
	line-height: 1.4em;
}

#content_container a {
	color: #555;
}

#content_container a:hover {
	color: #aaa;
}

#content_container .hr {
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin: 10px 0 20px;
}

#content_container .hr hr {
	display: none;
}

#content_container h2.page_title {
	font: 2.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #aaa;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#content_container #sub_menu {
	width: 950px;
	height: 40px;
	overflow: hidden;
	background-color: #fff;
	font-size: 1.2em;
	padding: 0 15px;
	margin-bottom: 10px;
}

#content_container #sub_menu ul {
	border-left: 1px dotted #ddd;
}

#content_container #sub_menu li,#content_container #sub_menu li a {
	float: left;
}

#content_container #sub_menu li a {
	display: block;
	padding: 14px;
	text-decoration: none;
	color: #333;
	border-right: 1px dotted #ddd;
}

#content_container #sub_menu li a:hover {
	background-color: #efefef;
}

/* @end */

/* @group LEFT */

#left_column {
	float: left;
	width: 700px;
}

#left_column h3.title {
	background-color: #222;
	color: #fff;
	padding: 8px 12px;
	font-size: 1.2em;
	text-transform: uppercase;
}

#left_column .sub_menu {
	width: 700px;
	background-color: #eee;
	font-size: .9em;
	text-transform: uppercase;
}

#left_column .sub_menu form {
	display: block;
	padding: 10px;
	font-size: 1.2em;
}

#left_column .sub_menu form input {
	padding: 6px 8px;
	border: 1px solid #ccc;
}

#left_column .sub_menu form input.submit {
	border: 0;
}

#left_column .sub_menu form.float_left input, #left_column .sub_menu form.float_left select {
	margin-right: 5px;
}

#left_column .sub_menu form.float_right input, #left_column .sub_menu form.float_right select {
	margin-left: 5px;
}

#left_column .sub_menu ul li {
	padding: 15px;
	float: left;
}

#left_column .sub_menu ul.float_left li {
	border-right: 1px dotted #fff;
}

#left_column .sub_menu ul.float_right li {
	border-left: 1px dotted #fff;
}

#left_column .sub_menu ul li.link {
	float: left;
	border-left: 1px dotted #fff;
	padding: 0;
}

#left_column .sub_menu ul li.link a, #left_column .sub_menu ul li.link a:link {
	padding: 12px 16px;
	display: block;
	float: left;
	color: #222;
	text-decoration: none;
}

#left_column .sub_menu ul li.link a:hover {
	background-color: #fff;
	color: #999;
}

#left_column .sub_menu ul li:hover {
	background-color: #fff;
}

#left_column .column_box {
	background-color: #fff;
	padding: 15px 0 1px;
	margin-bottom: 15px;
	font-size: 1.2em;
}

#left_column .column_box p, #left_column .column_box ul {
	margin-bottom: 15px;
}

#left_column .column_box .inner {
	padding: 10px 20px 40px;
}

#left_column .column_box .inner h1, #left_column .column_box .inner h2, #left_column .column_box .inner h3, #left_column .column_box .inner h4, #left_column .column_box .inner h5, #left_column .column_box .inner p, #left_column .column_box .inner ul, #left_column .column_box .inner pre, #left_column .column_box .inner ol, #left_column .column_box .inner blockquote {
	margin-bottom: 15px;
}

#left_column .column_box .inner h1 {
	font-size: 2.5em;
}

#left_column .column_box .inner h2 {
	font-size: 2em;
}

#left_column .column_box .inner h3 {
	font-size: 1.5em;
}

#left_column .column_box .inner h3.meta {
	font-size: .8em;
	color: #888;
	margin-top: -10px;
}

#left_column .column_box .inner pre {
	border: 1px solid #ccc;
	color: #777;
	padding: 20px;
}

#left_column .column_box .inner blockquote {
	font-style: italic;
	border-left: 4px solid #ddd;
	padding-left: 15px;
}

#left_column textarea.full {
	width: 100%;
	height: 300px;
}

#left_column .index table {
	width: 100%;
	margin-bottom: 20px;
}

#left_column .index table th {
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
}

#left_column .index table td {
	padding: 10px 10px;
	border-bottom: 1px solid #eee;
}

#left_column .pagination a, #left_column .pagination a:link {
	background-color: #eee;
	color: #000;
	display: block;
	float: left;
	padding: 5px 8px;
	margin-right: 5px;
}

#left_column .pagination a:hover {
	background-color: #333;
	color: #fff;
}

/* @end */

/* @group RIGHT */

#right_column {
	width: 250px;
	float: right;
}

#right_column h3.title {
	background-color: #222;
	color: #fff;
	padding: 8px 12px;
	font-size: 1.2em;
	text-transform: uppercase;
}

#right_column .column_box {
	background-color: #fff;
	padding: 15px 0 1px;
	margin-bottom: 15px;
}

#right_column .column_box p {
	padding: 0 15px;
}

#right_column .column_box p, #right_column .column_box ul {
	margin-bottom: 15px;
}

#right_column ul {
	border-top: 1px dotted #ddd;
}

#right_column ul li {
	padding: 8px 15px;
	border-bottom: 1px dotted #ddd;
}

#right_column ul li.link {
	padding: 0;
}

#right_column ul li.link a {
	padding: 8px 15px;
	display: block;
	color: #222;
}

#right_column ul li.link a:hover {
	background-color: #efefef;
}

/* @end */