/*
	http://github.com/creativelink/clink-tools/tree/master
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img, abbr, acronym { border: 0; }

address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th, td { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: normal; }

select, option, input, textarea { font-size: inherit; font-family: inherit; }

a, a:link, a:visited, a:active,:focus { outline: none !important; }

body { font-size: 62.5%; line-height: 1; } /* line-height is a temporary trial */

/* @group UNIVSERAL */

html,body { width: 100%; }
 
body { font-size: 62.5%; }
 
.pad { margin: 20px; }
 
.float_left { float: left; }
.float_right { float: right; }

.roundtop {
	-moz-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}

.roundbottom {
	-moz-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

.round {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
 
.hr { width: 100%; height: 1px; overflow: hidden; background-color: #ccc; }
 
.hr hr { display: none; }
 
/* slightly enhanced, universal clearfix hack */
 
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
 
.clearfix { display: inline-block; }
 
/* start commented backslash hack \*/
 
* html .clearfix { height: 1%; }
 
.clearfix { display: block; }
 
/* close commented backslash hack */

/* @end */

/* @group MESSAGES */
 
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 0 0 20px;
    padding:15px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    list-style-type: disc;
}
.info li, .success li, .warning li, .error li, .validation li {
  margin-left: 10px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.info a,.info a:link {
  color: #00529B !important;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.success a,.success a:link {
  color: #4F8A10 !important;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.warning a,.warning a:link {
  color: #9F6000 !important;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.error a,.error a:link {
  color: #D8000C !important;
}
 
.validation {
    color: #D63301;
    background-color: #FFCCBA;
}
 
/* @end */
