@import url("screen_reset.css");

/* @group UNIVSERAL */

html,body { width: 100%; }
 
body { font-size: 62.5%; }
 
.pad { margin: 20px; }
 
.float_left { float: left; }
.float_right { float: right; }
 
.hr { width: 100%; height: 1px; overflow: hidden; background-color: #ccc; }
 
.hr hr { display: none; }
 
/* slightly enhanced, universal clearfix hack */
 
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
 
.clearfix { display: inline-block; }
 
/* start commented backslash hack \*/
 
* html .clearfix { height: 1%; }
 
.clearfix { display: block; }
 
/* close commented backslash hack */



/* @end */

/* @group MESSAGES */
 
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    list-style-type: disc;
}
.info li, .success li, .warning li, .error li, .validation li {
  margin-left: 10px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.info a,.info a:link {
  color: #00529B !important;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.success a,.success a:link {
  color: #4F8A10 !important;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.warning a,.warning a:link {
  color: #9F6000 !important;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.error a,.error a:link {
  color: #D8000C !important;
}
 
.validation {
    color: #D63301;
    background-color: #FFCCBA;
}
 
/* @end */

/* @group BASICS */

body {
	background-color: #ccc;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#content_container {
	width: 990px;
	margin: 20px auto;
}

#content_container .full {
	padding: 10px;
}

/* @end */

/* @group CONTENT BASICS */

#content {
	background-color: #fff;
}

#content h2 {
	font-size: 2em;
	padding: 20px 25px;
	background: url(../files/base_screen/h2_bg.png) repeat-x center bottom;
	color: #22272D;
}

#content p,#content ul,#content h1,#content h2,#content h3 {
	margin-bottom: 20px;
}

/* @end */

/* @group FORMS .basic */

form.basic {
	font-size: 1.2em;
}

form.basic div {
	margin: 0 20px 20px 0;
}

form.basic label {
	float: left;
	width: 120px;
	padding-top: 4px;
}

form.basic input,form.basic textarea {
	border: 1px solid #ccc;
}

form.basic input {
	padding: 5px 8px;
}

form.basic .submit {
	background-color: #22272D;
	border: 0;
	padding: 8px 10px;
	text-transform: uppercase;
	color: #fff;
	font-size: 1em ;
}

/* @end */